body {
  background-image: image("cowpattern1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
}

h2 {
  background-color: black;

}

u {
  color: black;
  text-align: left;
  font-size: 210%;
  font-family: sans-serif;
  text-decoration: none;
}

g{
  font-size: 28px;
  font-family: sans-serif;
  text-shadow: 2px 2px #d1d1d1;
}


.top h2{
  color: white;
  width: 100%;
  height: 7% ;
  position: fixed;
  padding-right: 90%;
  padding-left: 50%;
  padding-bottom: .5%;
  margin-top: 0;
  top: 2%;
  text-align: left;
  z-index: 2;
  left: -5%;
}

.top{
  background-color: black;
  font-family:sans-serif;
  font-size: 200%;
}

.milkmode u{
  font-family: sans-serif;
  font-size: 130%;
  text-decoration: none;
  background-color: black ;
  height: 30%;
  width: 35%;
  position: absolute;
  left:15%;
  top: 15%;
  z-index: 0;
  text-decoration: none;
  color: white;
  padding-left: 1%;
  padding-top: 1%;
}

.bar{
  background-color:black;
  height:100%;
  width:3%;
  top:0;
  right:0;
  position:fixed;
}

.bar2{
  background-color:black;
  height:100%;
  width:3%;
  top:0;
  left:0;
  position:fixed;
}

.sidebar {
  height: 100%;
  width: 12.5%;
  position: fixed;
  z-index: 3;
  top: 1;
  right: 1;
  background-color: black;
  overflow-x: hidden;
  padding-top: 3%;
}



.sidebar a {
  padding: 1% 1% 5% 6%;
  text-decoration: none;
  font-size: 24px;
  color: white;
  display: block;
  font-family: sans-serif;
  padding-right: 10%;
}

.sidebar a:hover {
  color: white;
  text-shadow: 2px 2px #787f8c;
}

.black{
  background-color: black;
  height: 3%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.milkcow u{
  font-family: sans-serif;
  font-size: 170%;
  text-decoration: none;
  background-color: none ;
  height: 100%;
  width: 60%;
  position: absolute;
  left:17%;
  top: 17%;
  z-index: 0;
  text-decoration: none;
  text-shadow: 2px 2px grey;
}
