body {
  background-color: white;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  font-family: 'Indie Flower', cursive;

}

h2 {
  background-color: black;
}

u {
  color: #black;
  text-align: left;
  font-size: 34px;
  font-family: sans-serif;
}



g{
  font-size: 28px;
  font-family: sans-serif;
  text-shadow: 2px 2px #d1d1d1;
}



.top h2{
  color: white;
  padding-right: 90%;
  padding-left: 40%;
  position: fixed;
  align-self: auto;
}

.top{
  background-color: black;
  font-family:sans-serif;
  font-size: 38px;
  overflow-y: hidden;
  position: fixed;
}




.milkmode u{
  background-color: none ;
  font-family: sans-serif;
  font-size: 26px;
  height: 100%;
  width: 75%;
  position: fixed;
  top: 5;
  right: 5;
  padding-top: 10%;
  z-index: 1;
  overflow-x: hidden;
  direction: none;
  padding-left: 140px;
  overflow-x: hidden;
}
.bar{
  height: 100%;
  top: 0;
  left: 0;
  width: 3%;
  background-color: black;
  position: fixed;
}

.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  top: 1;
  right: 1;
}


.sidebar a {
  padding-top: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #afb4bc;
  display: block;
  font-family: sans-serif;
}

.sidebar a:hover {
  color: white;
  text-shadow: 2px 2px #787f8c;
}

img{
  top: 0;

}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
